:root{
     /* COLORS */
     --TexteClaire:#FFF9FB;
     --TexteFoncé: #37376D;

     --Nav:#545485;
     --Background:#C8C9E5;
     --Buttons:#4B5090;
     --Buttons2:#37366E;
     --Btn-profil:#7F7FA3;
     --Btn-deco:#37376D;
     --Container:#898EC7;
     --Container2:#393960;
     --Container-mood:#ACADCD;

     --Dot-Score:#EBADBC;


     /* FONTS */
     --Title:'magic retro';
     --Body:'bdsupper';
     --Subtitles:'cocogoose';
}

@font-face {
     font-family: 'cocogoose';
     src: url(/fonts/Cocogoose\ Pro\ Light-trial.ttf);
}
@font-face {
     font-family: 'bdsupper';
     src: url(fonts/BDSupperRegular.ttf);
}
@font-face {
     font-family:'magic retro';
     src: url(fonts/Magic\ Retro.ttf);
}

/* GENERAL */

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size: 15px;
}

body{
     background-color: var(--Background);
     color: var(--TexteFoncé);
     font-size: 15px;
}

header, footer{
     background-color: var(--Nav);
     color: var(--TexteClaire);
     padding: 2.5vh 2vw 1.5vh 5vw;
}

footer{
     align-self: flex-end;
}

main{
     margin: 4vh auto;
     align-content: center;
     justify-items: center;
}

a{
     text-transform: uppercase;
     text-decoration: none;
     color: var(--TexteClaire);
}

nav{
     display: grid;
     grid-template-columns: 25% 50% 25%;
     grid-template-rows: 65% 35%;
     grid-template-areas: 
     "title . profil"
     "title . deco";
}

h1{
     font-family: var(--Title);
     font-size: 4rem;
}

hgroup{
     grid-area: title;
}

hgroup span{
     font-family: var(--Subtitles);
     font-size: 0.9rem;
}

#navbar input{
     padding: 1.65vh 2.5vw;
     align-self: center;
     justify-self: center;
     border-radius: 10px;
     border: 0.5px solid var(--TexteFoncé);
     color: var(--TexteClaire);
     font-family: var(--Subtitles);
     font-size: 0.9rem;
     justify-self: flex-end;
     align-self: flex-end;
}

#profil{
     background-color: var(--Btn-profil);
     grid-area: profil;
     margin-bottom: 0.7rem;
}

#btnDeco{
     grid-area: deco;
     background-color: var(--Btn-deco);
}


/* PAGE LOGIN */

#signup-container{
     display: none;
}

/* PAGE LISTE FORMATIONS */

#liste-formations-container{
     background-color:var(--Container);
     color: var(--TexteFoncé);
     border: 0.5px solid var(--Container2);
     padding: 2vw 4vw;
}

#liste-formations-container legend{
     font-family: var(--Body);
     color: var(--TexteClaire);
     text-transform: uppercase;
     font-size: 1.75rem;
}

#liste-formations-container ul, #liste-formations-container li{
     list-style: none;
     justify-items: center;
     width: 100%;
}

.btns-forma{
     margin: 0.5rem;
}

#liste-formations-container input{
     padding: 2vh 2vw;
     width: 100%;
     border: 0.5px solid var(--Buttons2);
     border-radius: 5px;
}


/* PAGE FORMATION [X] */

#allContent{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}

#leftContainer{
     display: flex;
     flex-direction: column;
     gap: 5vh;
     align-items: center;
     justify-content: center; 
}

.courseName{
     text-align: center;
     font-family: var(--Body);
     font-size: 1.85rem;
     text-transform: uppercase;
}

#alerts-container{
     display: flex;
     flex-direction: column;
     gap: 2vh;
     background-color: var(--Container-mood);
     border-radius: 10px; 
     padding: 4vh 3vw;
     margin: 3vh 0 0;
}

.internBox, .alertIntern{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: var(--TexteClaire);
     border-radius: 7.5px;
     min-width: 200px;
     padding: 1.25vh 2vw;
}
 
.internName{
     font-family: var(--Subtitles);
     font-size: 0.8rem;
}

.internScore{
     height: 45px;
     width: 45px;
     background-color: var(--Dot-Score);
     font-family: var(--Body);
     color: var(--TexteClaire);
     border-radius: 50%;
     text-align: center;
     align-content: center;
} 

#averageMood-container h2{
     font-size: 1.5rem;
     font-family: var(--Body);
     text-transform: uppercase;
     color: var(--TexteClaire);
}

#allMood-container{
     background-color: var(--Container-mood);
     border: none;
     border-radius: 10px;
     margin: 3vh 2vw 0;
     padding: 4vh 4vw 4vh 2vw;

     display: grid;
     grid-template-columns:repeat(2, 50%);
     grid-template-rows: repeat(6, 1fr);
     grid-column-gap: 2vw;
     grid-row-gap: 2.5vh;
}